* {
    box-sizing: border-box;
}

.task_container {
    /* margin-top: 100px; */
}

.total{
    width: 75%;
}

.task_header {
}

@media only screen and (max-width: 768px) {
    .total {
        width: 95%;
    }
}
