* {
    box-sizing: border-box;
}

.task_container {
    /* margin-top: 100px; */
}

.task_row {
    display: flex;
    justify-content: space-between;
}

.task_input {
    width: 75%;
}
.total {
    width: 75%;
}
.filter_task {
    width: 50%;
}

.task_header {
}

@media only screen and (max-width: 768px) {
    .total {
        width: 95%;
    }

    .task_row {
        flex-direction: column-reverse;
    }

    .filter_task {
        width: 80%;
        margin: 0px auto 20px auto;
    }

    .task_input {
        width: 85%;
    }
}
